<log4net>
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Server=localhost;Index=my-service.local-dev;Port=9200;rolling=true" />
    <bufferSize value="100" />
  </appender>
  <root>
    <appender-ref ref="ElasticSearchAppender" />
  </root>
</log4net>